<h2>A Knock at Midnight</h2>
<p>by Brittany K. Barnett (Goodreads Author)</p>
<p>
  An inspiring true story about unwavering belief in humanity and an urgent call
  to free those buried alive by America's unjust legal system--from a gifted
  young lawyer whose journey marks the emergence of a powerful new voice in the
  movement to transform the system.
</p>
<p>
  Brittany K. Barnett was only a law student when she came across the case that
  would change her life forever--that of Sharanda Jones, single mother, business
  owner and, like Brittany, black daughter of the rural South. A victim of
  America's ruthless and devastating war on drugs, Sharanda had been torn from
  the arms of her young daughter and was serving a life sentence without
  parole--all for a first-time drug offense. In Sharanda, Brittany saw haunting
  echoes of own life, both as the daughter of a formerly incarcerated mother and
  the one-time girlfriend of an abusive drug dealer. As she studied Sharanda's
  case, a system slowly came into focus: one where widespread racial injustice
  forms the core of our country's addiction to incarceration. Moved by
  Sharanda's plight, Brittany began to work towards her freedom.
</p>
<p>
  This had never been the plan. Bright and ambitious, Brittany was already a
  successful accountant with her sights set on a high-powered future in
  corporate law. But Sharanda's case opened the door to a harrowing journey
  through the criminal justice system, in which people could be locked up for
  life under misguided appeals for law and order. Driven by the realization that
  her clients' fates could have easily been her own, Brittany soon found herself
  on a quest to unlock the human potential of those our society has forgotten
  how to see. Living a double life, she moved billion dollar corporate deals by
  day, and by night worked pro bono to free Sharanda and others in
  near-impossible legal battles. Ultimately, her journey transformed her
  understanding of injustice in the courts, of genius languishing behind bars,
  and the very definition of freedom itself. A Knock at Midnight is Brittany's
  riveting, inspirational memoir, at once a coming-of-age story and a powerful
  evocation of what it takes to bring hope and justice to a system built to
  resist both at every turn. (less)
</p>
