<h2>Eat a Peach</h2>
<p>by David Chang (Goodreads Author), Gabe Ulla</p>
<p>
  In 2004, David Chang opened a noodle restaurant named Momofuku in Manhattan's
  East Village, not expecting the business to survive its first year. In 2018,
  he was the owner and chef of his own restaurant empire, with 15 locations from
  New York to Australia, the star of his own hit Netflix show and podcast, was
  named one of the most influential people of the 21st century and had a
  following of over 1.2 million. In this inspiring, honest and heartfelt memoir,
  Chang shares the extraordinary story of his culinary coming-of-age.
</p>
<p>
  Growing up in Virginia, the son of Korean immigrant parents, Chang struggled
  with feelings of abandonment, isolation and loneliness throughout his
  childhood. After failing to find a job after graduating, he convinced his
  father to loan him money to open a restaurant. Momofuku's unpretentious air
  and great-tasting simple staples - ramen bowls and pork buns - earned it rave
  reviews, culinary awards and before long, Chang had a cult following.
</p>
<p>
  Momofuku's popularity continued to grow with Chang opening new locations
  across the U.S. and beyond. In 2009, his Ko restaurant received two Michelin
  stars and Chang went on to open Milk Bar, Momofuku's bakery. By 2012, he had
  become a restaurant mogul with the opening of the Momofuku building in
  Toronto, encompassing three restaurants and a bar.
</p>
<p>
  Chang's love of food and cooking remained a constant in his life, despite the
  adversities he had to overcome. Over the course of his career, the chef
  struggled with suicidal thoughts, depression and anxiety. He shied away from
  praise and begged not to be given awards. In Eat a Peach, Chang opens up about
  his feelings of paranoia, self-confidence and pulls back the curtain on his
  struggles, failures and learned lessons. Deeply personal, honest and humble,
  Chang's story is one of passion and tenacity, against the odds. (less)
</p>
