<h2>
  The Innovation Delusion: How Our Obsession with the New Has Disrupted the Work
  That Matters Most
</h2>
<p>by Lee Vinsel (Goodreads Author), Andrew L. Russell (Goodreads Author)</p>
<p>
  Innovation is the hottest buzzword in business. But what if its benefits has
  been exaggerated, and our obsession with finding the next big thing has
  distracted us from the work that matters most?
</p>
<p>
  It's hard to avoid innovation these days. Nearly every product gets marketed
  as being disruptive, whether it's a genuine new invention or just a new
  toothbrush. But in this manifesto on the state of American work, historians of
  technology Lee Vinsel and Andrew Russell argue that our way of thinking about
  and pursuing innovation has made us poorer, less safe, and - ironically - less
  innovative.
</p>
<p>
  Drawing on years of original research and reporting, Vinsel and Russell show
  how the ideology of change for its own sake has proved a disaster in the wrong
  hands. Corporations have spent millions hiring chief innovation officers while
  their core businesses tanked. Computer science programs have drilled their
  students on programming and design, even though the overwhelming majority of
  jobs are in IT and maintenance. In countless cities, suburban sprawl has left
  local governments with loads of deferred maintenance that they can't afford to
  fix. And sometimes, innovation even kills - like in 2018, when a Miami bridge
  hailed for its innovative design collapsed onto a highway and killed six
  people.
</p>
<p>
  In this provocative, deeply researched book, Vinsel and Russell tell the story
  of how we devalued the work that underpins modern life - and, in doing so,
  wrecked our economy and public infrastructure while lining the pockets of
  consultants who combine the ego of Silicon Valley with the worst of Wall
  Street's greed.
</p>
<p>
  The authors offer a compelling plan for how we can shift our focus away from
  the pursuit of growth at all costs, and back toward neglected activities like
  maintenance, care, and upkeep.
</p>
<p>
  For anyone concerned by the crumbling state of our roads and bridges or the
  direction our economy is headed, 'THE INNOVATION DELUSION' is a deeply
  necessary reevaluation of a trend we can still disrupt.
</p>
