<h2>The Order</h2>
<p>by Daniel Silva</p>
<p>
  From Daniel Silva, author of the #1 New York Times bestsellers The New Girl
  and The Other Woman, comes a stunning new action-packed thriller of high
  stakes international intrigue featuring the enigmatic art restorer and master
  spy Gabriel Allon.
</p>
<p>
  Master of the spy thriller Silva has entertained readers with twenty-two
  thoughtful and gripping suspense novels featuring a diverse cast of compelling
  characters and ingenious plots that have taken them around the globe and
  back—from the United States to Europe, Russia to the Middle East.
</p>
<p>
  He returns with another blockbuster—a powerhouse novel that showcases his
  outstanding skill and brilliant imagination, destined to be a must read for
  both his multitudes of fans and growing legions of converts.
</p>
