<h2>The Meaning of Mariah Carey</h2>
<p>by Mariah Carey (Goodreads Author), Michaela Angela Davis (Cowriter)</p>
∏
<p>
  It took me a lifetime to have the courage and the clarity to write my memoir.
  I want to tell the story of the moments - the ups and downs, the triumphs and
  traumas, the debacles and the dreams, that contributed to the person I am
  today. Though there have been countless stories about me throughout my career
  and very public personal life, it’s been impossible to communicate the
  complexities and depths of my experience in any single magazine article or a
  ten-minute television interview. And even then, my words were filtered through
  someone else’s lens, largely satisfying someone else’s assignment to define
  me.
</p>
<p>
  This book is composed of my memories, my mishaps, my struggles, my survival
  and my songs. Unfiltered. I went deep into my childhood and gave the scared
  little girl inside of me a big voice. I let the abandoned and ambitious
  adolescent have her say, and the betrayed and triumphant woman I became tell
  her side.
</p>
<p>
  Writing this memoir was incredibly hard, humbling and healing. My sincere hope
  is that you are moved to a new understanding, not only about me, but also
  about the resilience of the human spirit.
</p>

<p>Love,</p>
<p>Mariah</p>
