<h2>Mill Town: Reckoning with What Remains</h2>
<p>by Kerri Arsenault (Goodreads Author)</p>
<p>
  A galvanizing and powerful debut, Mill Town is an American story, a human
  predicament, and a moral wake-up call that asks: what are we willing to
  tolerate and whose lives are we willing to sacrifice for our own survival?
</p>
<p>
  Kerri Arsenault grew up in the rural working class town of Mexico, Maine. For
  over 100 years the community orbited around a paper mill that employs most
  townspeople, including three generations of Arsenault’s own family. Years
  after she moved away, Arsenault realized the price she paid for her seemingly
  secure childhood. The mill, while providing livelihoods for nearly everyone,
  also contributed to the destruction of the environment and the decline of the
  town’s economic, physical, and emotional health in a slow-moving catastrophe,
  earning the area the nickname “Cancer Valley.”
</p>
<p>
  Mill Town is an personal investigation, where Arsenault sifts through
  historical archives and scientific reports, talks to family and neighbors, and
  examines her own childhood to illuminate the rise and collapse of the
  working-class, the hazards of loving and leaving home, and the ambiguous
  nature of toxics and disease. Mill Town is a moral wake-up call that asks,
  Whose lives are we willing to sacrifice for our own survival? (less)
</p>
