<h2>Nothing Ventured</h2>
<p>by Jeffrey Archer</p>
<p>
  Nothing Ventured heralds the start of a brand new series in the style of
  Jeffrey Archer’s #1 New York Times bestselling Clifton Chronicles: introducing
  Detective William Warwick. But this is not a detective story, this is a story
  about the making of a detective . . .
</p>
<p>
  William Warwick has always wanted to be a detective, and decides, much to his
  father’s dismay, that rather than become a lawyer like his father, Sir Julian
  Warwick QC, and his sister Grace, he will join London’s Metropolitan Police
  Force.
</p>
<p>
  After graduating from university, William begins a career that will define his
  life: from his early months on the beat under the watchful eye of his first
  mentor, Constable Fred Yates, to his first high-stakes case as a fledgling
  detective in Scotland Yard’s arts and antiquities squad. Investigating the
  theft of a priceless Rembrandt painting from the Fitzmolean Museum, he meets
  Beth Rainsford, a research assistant at the gallery who he falls hopelessly in
  love with, even as Beth guards a secret of her own that she’s terrified will
  come to light.
</p>
<p>
  While William follows the trail of the missing masterpiece, he comes up
  against suave art collector Miles Faulkner and his brilliant lawyer, Booth
  Watson QC, who are willing to bend the law to breaking point to stay one step
  ahead of William. Meanwhile, Miles Faulkner’s wife, Christina, befriends
  William, but whose side is she really on?
</p>
<p>
  This new series introduces William Warwick, a family man and a detective who
  will battle throughout his career against a powerful criminal nemesis. Through
  twists, triumph and tragedy, this series will show that William Warwick is
  destined to become one of Jeffrey Archer’s most enduring legacies. (less)
</p>
