<h2>
  2030: How Today's Biggest Trends Will Collide and Reshape the Future of
  Everything
</h2>
<p>by Mauro F. Guillén</p>
<p>
  "Bold, provocative...illuminates why we’re having fewer babies, the middle
  class is stagnating, unemployment is shifting, and new powers are rising.”
  —ADAM GRANT
</p>
<p>
  The world is changing drastically before our eyes—will you be prepared for
  what comes next? A groundbreaking analysis from one of the world's foremost
  experts on global trends, including analysis on how COVID-19 will amplify and
  accelerate each of these changes.
</p>
<p>
  Once upon a time, the world was neatly divided into prosperous and backward
  economies. Babies were plentiful, workers outnumbered retirees, and people
  aspiring towards the middle class yearned to own homes and cars. Companies
  didn't need to see any further than Europe and the United States to do well.
  Printed money was legal tender for all debts, public and private. We grew up
  learning how to "play the game," and we expected the rules to remain the same
  as we took our first job, started a family, saw our children grow up, and went
  into retirement with our finances secure.
</p>
<p>That world—and those rules—are over.</p>
<p>By 2030, a new reality will take hold, and before you know it:</p>
<ul>
  <li>There will be more grandparents than grandchildren</li>
  <li>
    The middle-class in Asia and Sub-Saharan Africa will outnumber the US and
    Europe combined
  </li>
  <li>
    The global economy will be driven by the non-Western consumer for the first
    time in modern history
  </li>
  <li>There will be more global wealth owned by women than men</li>
  <li>There will be more robots than workers</li>
  <li>There will be more computers than human brains</li>
  <li>There will be more currencies than countries</li>
</ul>
<p>
  All these trends, currently underway, will converge in the year 2030 and
  change everything you know about culture, the economy, and the world.
</p>
<p>
  According to Mauro F. Guillen, the only way to truly understand the global
  transformations underway—and their impacts—is to think laterally. That is,
  using “peripheral vision,” or approaching problems creatively and from
  unorthodox points of view. Rather than focusing on a single
  trend—climate-change or the rise of illiberal regimes, for example—Guillen
  encourages us to consider the dynamic inter-play between a range of forces
  that will converge on a single tipping point—2030—that will be, for better or
  worse, the point of no return.
</p>
<p>
  2030 is both a remarkable guide to the coming changes and an exercise in the
  power of “lateral thinking,” thereby revolutionizing the way you think about
  cataclysmic change and its consequences. (less)
</p>
