<h2>Business</h2>
<p>
  A business (also known as enterprise or firm) is an organization engaged in
  the trade of goods, services, or both to consumers. Businesses are predominant
  in capitalist economies, where most of them are privately owned and
  administered to earn profit to increase the wealth of their owners. Businesses
  may also be not-for-profit or state-owned. A business owned by multiple
  individuals may be referred to as a company, although that term also has a
  more precise meaning.
</p>
<ul>
  <li>Mill Town: Reckoning with What Remains</li>
  <li>
    The Innovation Delusion: How Our Obsession with the New Has Disrupted the
    Work That Matters Most
  </li>
  <li>
    2030: How Today's Biggest Trends Will Collide and Reshape the Future of
    Everything
  </li>
</ul>
