{% extends 'base.html' %}

{% block browse %}
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Meet your next favorite book.
        </h1>
      </div>
    </div>
<nav class="level p-5 m-5">
  <div class="level-item has-text-centered">
    <div>
      <p class="subtitle">Deciding what to read next?</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="subtitle">What are your friends reading?</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="subtitle">What will you discover?</p>
    </div>
  </div>
</nav>
{% endblock %}